html {
    background: black;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

a {
    color: silver;
    text-decoration: none;
}

.status-content {
    padding-left: 1rem;
    border-left: 1px solid silver;
}

footer {
    color: silver;
}