.hidden {
    display: none;
}

html {
    background: black;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

a {
    color: silver;
    text-decoration: none;
}

button {
    border-color: black;
    color: black;
    min-width: 10rem;
    padding: 0.5rem 1rem;
}

.status-content {
    border-left: 1px solid silver;
    padding-left: 1rem;
}

.spoiler-button {
    background: silver;
    border-radius: 1rem;
}

footer {
    color: silver;
}